<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/scripts/ext-4.1.1/resources/css/ext-all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/ext-4.1.1/ext-all.js")"></script>
    <script src="@Url.Content("~/scripts/ux/multiupload/swfobject.js")"></script>
    @*<script src="@Url.Content("~/scripts/ux/multiupload/UploadManager.js")"></script>
    <script src="@Url.Content("~/scripts/ux/multiupload/Upload.js")"></script>
    <script src="@Url.Content("~/scripts/ux/multiupload/Panel.js")"></script>*@
    <script src="@Url.Content("~/scripts/app.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
